/* This is comment */
*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Arial',sans-serif;
}

body{
    background-color: #f4f4f4;
}

header{
    background-color: #222;
}
nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color:#fff;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    color:aqua;
}
.heroine{
    width:90%;
    margin:auto;
    min-height:10vh;
    display: flex;
    justify-content: space-between;
    align-items:start;
}
.heroine-text{
    width:50%;
}
.heroine-text h1{
    font-size:45px;
    margin-bottom:15px;
}
.heroine-text h3{
    color:aqua;
    margin-bottom: 15px;
}
.heroine-img{
    width:80%;
    text-align:right;
}
.heroine-img img{
    width:1000px;
    max-width:100%;
    border-radius:50px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);

}
.heroine-text span{
    color:#333;
}
.heroine-text p{
    font-size: 16px;
    line-height: 1.8;
    margin-bottom:25px;
}
.btn{
    background-color:aqua;
    color:#fff;
    padding:12px 25px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.btn:hover{
     background-color:aqua
}
.hero-img{
    width:45%;
    border-radius:50%;
    border:5px solid aqua
}
.hero-img img{
    width:100%;
    border-radius:50%;
}
footer{
    background-color: #665353;
    color:#fff;
    text-align: center;
    padding:20px 0;
    margin-top:40px;
}